{% extends 'base.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block title %}
    <title>Rx Calculator - VetCalc</title>
{% endblock %}

{% block header_form %}
    {% crispy form %}
{% endblock %}

{% block alert %}
    {% if errors %}
        <div class="alert alert-danger">
            {% for error in errors %}
                <p class="text-center">{{ error.as_text }}</p>
            {% endfor %}
        </div>
    {% endif %}
{% endblock %}

{% block table %}
    <div class="container">

        <table class="table table-hover table-responsive table-bordered" id="rx-table">
            <thead>
                <tr>
                    <th class="header">Medication</th>
                    <th class="header">Dosage (mL)</th>
                    <th class="header">Concentration</th>
                    <th class="header">Category</th>
                    <th class="header">Administration</th>
                </tr>
            </thead>
            <tbody>
            {# rx is a zipped list of meds and calculated dosages.  med.0 refers to the medication object instance, and med.1 refers to the calculated dosage #}
                {% for med in rx %}
                    <tr id="med_{{ med.0.id }}">
                        <td><a href="{% url 'rx' med.0.slug %}">{{ med.0.name }}</a></td>
                        <td>{{ med.1 }}</td>
                        <td>{{ med.0.concentration }}</td>
                        <td>{{ med.0.category }}</td>
                        <td>{{ med.0.admin }}</td>
                    </tr>
            {% endfor %}
            </tbody>
        </table>

    </div>
{% endblock %}

{% block javascript %}
    {{ block.super }}
    <script>
        $(document).ready(function() {
            $("#rx-table").tablesorter();
        });
    </script>
    <script src="{% static 'js/js.cookie.js' %}"></script>
{% endblock %}