{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}
    <title>Rx Info - VetCalc</title>
{% endblock %}

{% block content %}

    {% regroup meds by category as category_list %}

    <div class="row">
        <ul class="rx-info-list">
        {% for med in category_list %}
            <li class="col-md-6"><h4>{{ med.grouper }}</h4>
                <ul>
                    {% for item in med.list %}
                        <li><a href="{% url 'info_rx' item.slug %}">{{ item.name }}</a></li>
                    {% endfor %}
                </ul>
            </li>
        {% endfor %}
        </ul>
    </div>

{% endblock %}