{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}
    <title>{{ rx.name }} - VetCalc</title>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <a href="{% url 'home' %}">Home</a> / <a href="{% url 'info' %}">Info</a> / <span><b>{{ rx.name }}</b></span>
            <h1>{{ rx.name }}</h1>
            <h3>Category</h3>
            <p>{{ rx.category }}</p>
            <h3>Administration method</h3>
            <p>{{ rx.admin }}</p>
            <h3>Description</h3>
            <p>{{ rx.desc }}</p>
        </div>
    </div>
{% endblock %}