@import "_material_color";

.navbar-default {
  background: $teal-500;
  .navbar-header {
    img {
      padding-top: 4px;
      padding-right: 10px;
    }
    a, a:hover {
      color: #ffffff;
    }
  }
  .navbar-nav {
    li {
      a, a:hover {
        color: #ffffff;
      }
    }
  }
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus
.navbar .nav > li.dropdown.open.active > a:hover,
.navbar .nav > li.dropdown.open > a {
  color: #ffffff;
  background: $teal-A700;
}

.navbar-default .navbar-nav .open .dropdown-menu > li {
  a, a:hover {
    color: #ffffff;
    background: transparent;
  }
}

ul .dropdown-menu {
  background: $teal-500;
}

.navbar-default .navbar-toggle {
    background: #ffffff;
}

.menu {
  position: relative;
  padding-top: 25%;
  img {
    margin: 0 auto;
  }
  li {
    text-align: center;
  }
}

.img-home:hover {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
}

.img-home {
  	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	-ms-transition: all .3s ease-in-out;
}

.content {
    height: 100%;
    padding-top: 60px;
    padding-bottom: 60px;
}

.footer {
  background: $teal-200;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 50px;
}

.credit {
    margin: 10px;
    font-size: 8pt;
    line-height: 8pt;
    text-align: center;
  p {
    color: #fafafa;
  }
  span {
    color: #fafafa;
    padding: 0 5px 0 5px;
  }
}

ul {
    list-style-type: none;
}

a {
    color: $teal-500;
}

a:hover {
    color: $teal-A700;
    text-decoration: none;
}

.asteriskField {
    display: none;
}

th.header {
  background: url(/static/img/bg.gif) no-repeat center right;
  padding-left: 20px;
    margin-left: -1px;
}

th.headerSortUp {
    background-image: url(/static/img/asc.gif);
}

th.headerSortDown {
    background-image: url(/static/img/desc.gif);

}

input[type='number'] {
    -moz-appearance:textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
