{% extends 'base.html' %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <h1><a href="{% url 'injection' %}">Injections</a></h1>
            <div class="dropdown">
                <button class="btn-lg btn-default dropdown-toggle" type="button" data-toggle="dropdown">CRI
                <span class="caret"></span></button>
                <ul class="dropdown-menu">
                    <li><a href="{% url 'cri_simple' %}">Simple</a></li>
                    <li><a href="{% url 'cri_advanced' %}">Advanced</a></li>
                    <li><a href="{% url 'cri_metoclopramide' %}">Metoclopramide</a></li>
                    <li><a href="{% url 'cri_cpr' %}">Post CPR</a></li>
                </ul>
            </div>

        </div>
    </div>
{% endblock %}