{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load multiply %}
{% load pipeline %}

{% block title %}
    <title>CRI Simple Calculator - VetCalc</title>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            {% crispy form %}
        </div>
    </div>
{% endblock %}

{% block table %}
    <div class="row" id="id_cri_table">
        <div class="col-md-12">
            {% for med, dosage in rx.items %}
            <a href="{% url 'info_cri' med.slug %}"><h3>{{ med.name }} ({{ med.concentration }})</h3></a>
                {% if med.name == 'Diltiazem' %}
                    <p>Slow bolus dose (0.25 mg/kg):</p>
                    <p>{{ bolus.mg }} mg or {{ bolus.mL }} mL</p>
                {% endif %}
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th class="header">Desired Rate ({{ med.units }}/kg/{{ med.time }})</th>
                        <th class="header">mL/Hour</th>
                    </tr>
                </thead>
                <tbody>
                    {% for rate, dose in dosage  %}
                        <tr>
                            {% if med.name == 'Isoproteronol' %}
                                <td>{{ rate|multiply:200 }}</td>
                            {% else %}
                                <td>{{ rate }}</td>
                            {% endif %}
                                <td>{{ dose }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% endfor %}
        </div>
    </div>

{% endblock %}

{% block javascript %}
    {{ block.super }}
    {% javascript 'main' %}
    {% javascript 'calc_cri_simple' %}
{% endblock %}