{% extends 'base.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% load pipeline %}

{% block title %}
    <title>Injection Calculator - VetCalc</title>
{% endblock %}

{% block header_form %}
    <div class="pull-right">
        {% crispy form %}
    </div>
{% endblock %}

{% block alert %}
    <div id="id_rx_errors">
    {% if errors %}
        <div class="row alert alert-danger">
            {% for error in errors %}
                <div style="text-align:center">
                    <span>{{ error.as_text }}</span>
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                </div>
            {% endfor %}
        </div>
    {% endif %}
    </div>
{% endblock %}

{% block table %}
    <div class="row">
        <table class="table table-hover table-responsive table-bordered" id="id_rx_table">
            <thead>
                <tr>
                    <th class="header">Medication</th>
                    <th class="header">Dosage (mL)</th>
                    <th class="header">Concentration</th>
                    <th class="header">Category</th>
                    <th class="header">Administration</th>
                </tr>
            </thead>
            <tbody>
                {% for med, dosage in rx.items %}
                    <tr>
                        <td><a href="{% url 'info_inj' med.slug %} ">{{ med.name }}</a></td>
                        <td>{{ dosage }}</td>
                        <td>{{ med.concentration }}</td>
                        <td>{{ med.category }}</td>
                        <td>{{ med.admin }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}

{% block javascript %}
    {{ block.super }}
    <script type="text/javascript" src="{% static 'js/jquery.tablesorter.combined.js' %}"></script>
    <script>
        $(document).ready(function() {
            $("table").tablesorter();
        });
    </script>
    {% javascript 'calc_inj' %}
{% endblock %}