{% extends 'base.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% load pipeline %}

{% block title %}
    <title>Injection Calculator - VetCalc</title>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            {% crispy form %}
            <br>
        </div>
    </div>
{% endblock %}

{% block table %}
    <div class="row">
        <div class="col-md-12">
            <table class="table table-hover table-responsive table-bordered" id="id_rx_table">
                <thead>
                    <tr>
                        <th class="header">Medication</th>
                        <th class="header">Dosage (mL)</th>
                        <th class="header">Concentration</th>
                        <th class="header">Category</th>
                        <th class="header">Administration</th>
                    </tr>
                </thead>
                <tbody>
                    {% for med, dosage in rx.items %}
                        <tr>
                            <td><a href="{% url 'info_inj' med.slug %} ">{{ med.name }}</a></td>
                            <td>{{ dosage }}</td>
                            <td>{{ med.concentration }}</td>
                            <td>{{ med.category }}</td>
                            <td>{{ med.admin }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}

{% block javascript %}
    {{ block.super }}
    {% javascript 'tablesorter' %}
    <script>
        $(document).ready(function() {
            $("table").tablesorter();
        });
    </script>
    {% javascript 'main' %}
    {% javascript 'rx_calc' %}
{% endblock %}