{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}
    <title>Rx Info - VetCalc</title>
{% endblock %}

{% block content %}

    <h1>Injections</h1>

    {% regroup inj by category as category_list %}

    <div class="row">
        <ul class="injection-info-list">
        {% for inj in category_list %}
            <li class="col-md-6"><h4>{{ inj.grouper }}</h4>
                <ul>
                    {% for item in inj.list %}
                        <li><a href="{% url 'info_inj' item.slug %}">{{ item.name }}</a></li>
                    {% endfor %}
                </ul>
            </li>
        {% endfor %}
        </ul>
    </div>

{% endblock %}