{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}
    <title>Rx Info - VetCalc</title>
{% endblock %}

{% block content %}

    <h3>Injections</h3>
    <hr>

    {% regroup inj by category as inj_category_list %}

    <div class="row">
        <ul class="injection-info-list">
        {% for inj in inj_category_list %}
            <li class="col-md-6"><h4>{{ inj.grouper }}</h4>
                <ul>
                    {% for item in inj.list %}
                        <li><a href="{% url 'info_inj' item.slug %}">{{ item.name }}</a></li>
                    {% endfor %}
                </ul>
            </li>
        {% endfor %}
        </ul>
    </div>

    <h3>CRI</h3>
    <hr>

    {% regroup cri by category as cri_category_list %}

    <div class="row">
        <ul class="cri-info-list">
            {% for cri in cri_category_list %}
                <li class="col-md-6"><h4>{{ cri.grouper }}</h4>
                    <ul>
                        {% for item in cri.list %}
                            <li><a href="{% url 'info_cri' item.slug %}">{{ item.name }}</a></li>
                        {% endfor %}
                    </ul>
                </li>
            {% endfor %}
        </ul>
    </div>

    <h3>Prescriptions</h3>
    <hr>

    {% regroup pre by category as pre_category_list %}

    <div class="row">
        <ul class="prescription-info-list">
            {% for pre in pre_category_list %}
                <li class="col-md-6"><h4>{{ pre.grouper }}</h4>
                    <ul>
                        {% for item in pre.list %}
                            <li><a href="{% url 'info_pre' item.slug %}">{{ item.name }}</a></li>
                        {% endfor %}
                    </ul>
                </li>
            {% endfor %}
        </ul>
    </div>

{% endblock %}