.bg-1 {
    background-color: #009688;
}

.bg-2 {
    background-color: #80cbc4;
}

.menu {
    position: relative;
    padding-top: 15%;
}

.menu img {
    margin: 0 auto;
}

.menu li {
    text-align: center;
    padding-left: 5%;
    padding-right: 5%;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 60px;
}

.credit {
    margin: 15px;
    font-size: 9pt;
    line-height: 9pt;
}

.credit p {
 color: #fafafa;
}

body {
    padding-top: 60px;
    padding-bottom: 60px;
}

ul {
    list-style-type: none;
}

th.header {
    background-image: url(/static/img/bg.gif);
    background-repeat: no-repeat;
    background-position: center right;
    padding-left: 20px;
    margin-left: -1px;
}

th.headerSortUp {
    background-image: url(/static/img/asc.gif);
}

th.headerSortDown {
    background-image: url(/static/img/desc.gif);

}

input[type='number'] {
    -moz-appearance:textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}