.bg-1 {
    background-color: #009688;
}

.bg-2 {
    background-color: #80cbc4;
}

#header a {
    color: #e0e0e0
}

#header a:hover {
    color: #f5f5f5;
}

.navbar-header img {
    padding-top: 4px;
    padding-right: 10px;
}

.menu {
    position: relative;
    padding-top: 15%;
}

.menu img {
    margin: 0 auto;
}

.menu li {
    text-align: center;
    padding-left: 5%;
    padding-right: 5%;
}

.dd {
    padding: 15px 0px 0px 15px;
}

.content {
    height: 100%;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 50px;
}

.credit {
    margin: 10px;
    font-size: 9pt;
    line-height: 9pt;
}

.credit p {
 color: #fafafa;
}

/*.calc-input {*/
    /*position: relative;*/
    /*margin: 0 auto;*/
/*}*/

.content {
    padding-top: 60px;
    padding-bottom: 50px;
}

ul {
    list-style-type: none;
}

a {
    color: #00c853;
}

a:hover {
    color: #69f0ae;
    text-decoration: none;
}

th.header {
    background-image: url(/static/img/bg.gif);
    background-repeat: no-repeat;
    background-position: center right;
    padding-left: 20px;
    margin-left: -1px;
}

th.headerSortUp {
    background-image: url(/static/img/asc.gif);
}

th.headerSortDown {
    background-image: url(/static/img/desc.gif);

}

input[type='number'] {
    -moz-appearance:textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}