{% extends 'base.html' %}

{% block content %}
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <h1>Disclaimer</h1>
            <p>VetCalc is not responsible for any deaths, comas, bodily harm, medical mishaps or miracles, emotional distress,
            or lawsuits that are the direct or indirect result of using any resources available on the site.</p>
            <p>Always double check your doses.</p>
            <p>Use at your own peril.</p>
        </div>
    </div>
{% endblock %}