{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}<title>{{ sheet }} | VetCalc</title>{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <p><a href="{% url 'tx_sheet' %}">Back to treatment sheets</a></p>
            <h1>{{ sheet.name }}</h1>
            <hr>
            <p>{{ sheet.comment }}</p>
            <p><a href="{% url 'edit_tx_sheet' sheet.id %}">Edit treatment sheet information</a></p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <hr>
            <h3>Medication</h3>
            <ul>
            {% for item in sheet.txitem_set.all %}
                <li>
                    <h4>{{ item }} <a href="{% url 'del_item_tx_sheet' sheet.id item.id %}">
                        <span title="Delete this item" class="glyphicon glyphicon-remove"></span></a></h4>
                    <ul>
                        <li>{{ item.instruction }}</li>
                        <li>{{ item.med.desc }}</li>
                    </ul>


                </li>
            {% endfor %}
            </ul>
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h3>Add another item</h3>
            {% crispy form %}
        </div>
    </div>

{% endblock %}