{% extends 'base.html' %}

{% block title %}<title>Treatment Sheets | VetCalc</title>{% endblock %}

{% block content %}
    <div class="row">
        {% if user.is_authenticated %}
        <div class="col-md-12">
            <h1>Welcome, {{ user }}</h1>
            <p><a href="{% url 'new_tx_sheet' %}">Create a new treatment sheet</a> | <a href="{% url 'account_logout' %}">Log out</a></p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h3>Treatment Sheets</h3>
            <p><i>Treatment sheets are deleted 72 hours after creation</i></p>
            <hr>
            {% if user.txsheet_set.all|length > 0 %}
                <ul>
                {% for sheet in user.txsheet_set.all %}
                    <li><a href="{% url 'view_tx_sheet' sheet.id %}">{{ sheet }} </a>
                        <a href="{% url 'del_tx_sheet' sheet.id %}">
                            <span title="Delete this sheet" class="glyphicon glyphicon-remove"></span></a></li>
                {% endfor %}
                </ul>
            {% else %}
                <i>No treatment sheets found</i>
            {% endif %}
        </div>
        {% else %}
        <div class="col-md-12">
            <h1>Slow your roll, homie</h1>
            <hr>
            <p>This feature requires you to <a href="{% url 'account_login' %}">log in</a>.</p>
        </div>
        {% endif %}
    </div>
{% endblock %}